body {
    width: 1912px;
    height: 100%;
    margin: 0;
    background-image:url();
    background-size: cover;
}

.uailab_intro {
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    margin: 0 auto;
}

.menu_1 a {
    color: aliceblue;
    padding-left: 50px;
    text-decoration:none;
    font-size: 40px;
}

.social-medias{
    margin-top: 90px;
    margin-left: 150px;
}
.social-medias a{
    align-items:end;
    padding-left: 10px;
}

#block-1{
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}
#block-1::-webkit-scrollbar{
    display: none;
}
.slider{
    display: flex;
    width: 400%;
    height: 100%;
    
}
.arrow-left, .arrow-right{
    position: fixed;
    height: 500px;
    background: linear-gradient(to left, transparent 0%, white 300%);
    font-size: 40px;
    border: none;
    cursor: pointer;
    color: rgb(245, 105, 105);
    opacity: 0.3;
}
.arrow-right{
    
    background: linear-gradient(to right, transparent 0%, white 300%);
    right: 0;
}

.arrow-left:hover, .arrow-right:hover{
    opacity: 1;
}
.elements{
    width: 25%;
    height: 100%;
    transition: ease-in-out;
    scroll-snap-align: start;
}

.elements a{
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
}

.title{
    display: flex;
    justify-content: center;
}
.sub-title{
    display: flex;
    justify-content: center;
}
#first-element{
    background-image: url("C:/Users/Luizz/Desktop/Programação/UaiLab/img/Pixu.jpg");
    
}

#second-element{
    background-image: url("C:/Users/Luizz/Desktop/Programação/UaiLab/img/Greggo.jpg");
    
}
#third-element{
    background-image: url("C:/Users/Luizz/Desktop/Programação/UaiLab/img/VITTIM GE.jpg");
    
}
#fourth-element{
    background-image: url("C:/Users/Luizz/Desktop/Programação/UaiLab/img/JAMIS.jpg");
    
}
